@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://youneed.rehab/fonts/1Ptsg8LJRfWJmhDAuUs4TYFv.ttf) format('truetype');
}
