
shadow {
	font-size: 14px;
    text-align: center;
	text-shadow: 1px 1px 8px #000
}

/*
     FILE ARCHIVED ON 11:53:06 Apr 14, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:58:13 Feb 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.15
  exclusion.robots.policy: 0.138
  cdx.remote: 0.102
  esindex: 0.01
  LoadShardBlock: 198.795 (6)
  PetaboxLoader3.datanode: 227.427 (7)
  load_resource: 179.368
  PetaboxLoader3.resolve: 61.287
*/